# Kafka / Confluent Cloud
KAFKA_BOOTSTRAP_SERVERS=pkc-619z3.us-east1.gcp.confluent.cloud:9092
KAFKA_SASL_USERNAME=SI44P6SAN6TMJPRH
KAFKA_SASL_PASSWORD=cfltwE8P4UmZeCrEhxC5xw7Nl2kF2VDjv4TMYFDHdkjQHuXhtyIHgaP42V4w4IPw

# PostgreSQL for spark_oee_stream.py and Grafana datasource
PGHOST=localhost
PGPORT=5432
PGDATABASE=oee_db
PGUSER=harshchanchlani
PGPASSWORD=

# Grafana admin credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
